<div class="bjui-pageContent">
    <form action="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add',array('navTabId'=>CONTROLLER_NAME))}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
            <div class="pageFormOrder">
                <table class="table tableNoRow" width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4"><h4 class="text-center">新增订单</h4></td>
                        </tr>
                        <tr>
                            <td><label for='cuname_input' class='control-label x70'>客户:</label>
                                <input type='text' id='cuname' name='cuname'  size='13' data-toggle='lookup' data-url='{:U(MODULE_NAME."/public/custcon",array("navTabId"=>CONTROLLER_NAME))}'  value='{$cuname}' readonly>
                                <input type="hidden" name="cuid" id="cuid" value='{$cuid}'>
                            </td>
                            <td><label for='dianhua_input' class='control-label x70'>联系电话:</label><input type='text' id='dianhua' name='dianhua'  size='13'   value='{$dianhua}'  readonly></td>
                            <td colspan="2"><label for='bianhao_input' class='control-label x70'>订单编号:</label><input type='text' id='bianhao' name='bianhao'  size='18'   value='{$bianhao}' readonly></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label for='juname_input' class='control-label x70'>设计师:</label><input type='text' id='juname' name='juname'  size='13' data-toggle='lookup' data-url='{:U(MODULE_NAME."/public/hruser",array("navTabId"=>CONTROLLER_NAME))}'  value='{$Rs.juname}'  readonly>
                                <input type="hidden" name="juid" id="juid" value="{$Rs.juid}">
                            </td>
                        </tr>
                        <tr><td colspan=4><label for='content_input' class='control-label x70'>设计方案:</label><textarea name='beizhu'  cols='79' rows='4' >{$Rs.beizhu}</textarea></td></tr>
                        <tr>
                            <td colspan="4" style="vertical-align: top;" valign="top">
                                <div class="datagrid-box-b">
                                    <div class="datagrid-wrap-b">
                                        <table class="table table-bordered table-hover table-striped table-top tabledit" data-toggle="tabledit">
                                            <thead>
                                            <tr>
                                                <th title="项目名称">
                                                    <input type="text" name="ops#index#.oname" data-toggle="lookup"  data-url="{:U(MODULE_NAME.'/public/ops',array('id'=>$v['id'],'navTabId'=>CONTROLLER_NAME))}" data-group="ops#index#" data-width="700" data-height="300"
                                                           aria-required="true" readonly>
                                                    <input type="hidden" name="ops#index#.oid">
                                                </th>
                                                <th title="类型">
                                                    <input type="text" name="ops#index#.ocname" placeholder="类型" readonly>
                                                </th>
                                                <th title="数量">
                                                    <input name="ops#index#.num" value="1" aria-required="true" data-toggle="spinner" type="text" readonly>
                                                </th>
                                                <th title="单价">
                                                    <input type="text" name="ops#index#.oprice" placeholder="单价" readonly>
                                                </th>
                                                <th title="总价">
                                                    <input type="text" name="ops#index#.sumprice" placeholder="总价" readonly>
                                                </th>
                                                <th title="" data-addtool="true" width="100">
                                                    <a href="#" class="btn btn-red row-del" data-confirm-msg="确定要删除该行信息吗？">删</a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                            <td>
                                <table class="table tableNoRow tableSum" width="40%">
                                    <tbody>
                                        <tr>
                                            <td><label class='control-label x70'>总价:</label><input type='text' id='summoney' name='summoney'  size='12'   value='0' readonly></td>
                                        </tr>
                                        <tr>
                                            <td><label class='control-label x70'>优惠价 :</label><input type='text' id='jine' name='jine'  size='12'   value='0' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></td>
                                        </tr>
                                        <tr>
                                            <td><label class='control-label x70'>利润基数:</label><input type='text' id='profit' name='profit'  size='12'   value='0' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
                <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
            </ul>
        </div>
    </form>
</div>
<style type="text/css">
    table.tableNoRow{width: 100%;}
    .tableNoRow > tbody > tr > td{
        border:0 none;
        width: 25%;
        padding: 6px 3px;
    }
    .tableNoRow .form-control{
        background-color: #f8f6fa;
        background-image: none;
        border-width: 0 0 1px 0;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.075) inset;
        color: #0f4c0f;
        width:100px;
    }
    .tabledit .form-control{
        border-width: 0;
        background-color: #ffffff;
    }
    div.datagrid-box-b{
        position:relative;padding: 10px 20px;
    }
    div.datagrid-wrap-b{
        position:relative;overflow:auto;height: 178px;background: no-repeat 0 0 scroll #ffffff;border:1px solid #cccccc;
    }
    .bjui-dialog > .dialogContent .bjui-pageContent{
        background: #f8f6fa none repeat scroll 0 0;
    }
    .table > thead > tr > th{
        background: #eae7ef none repeat scroll 0 0;
    }
    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th{
        background-color: #ffffff;
    }
    .tableNoRow .tableSum{
        background: no-repeat 0 0 scroll #f8f6fa;
    }
    .tableNoRow textarea.form-control{
        background: no-repeat 0 0 scroll #fff;
        border-width:1px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){

        //计算总价
        var countTotalPrice = function(obj_tr){
            var obj_table = obj_tr.closest("table");
            var total_price = 0;
            obj_table.find("input[name$='sumprice']").each(function(i){
                total_price = parseInt($(this).val()) + total_price;
            });
            $("#summoney").val(total_price);
            $("#jine").val(total_price);
            $("#profit").val(total_price);
        };

        //计算单个项目价格
        var countSumPrice = function(obj_tr){
            var obj_price = obj_tr.find("input[name$='oprice']");
            var obj_num = obj_tr.find("input[name$='num']");
            var var_price = obj_price.val();
            var var_num = obj_num.val();
            if(parseInt(var_num) - var_num == 0 && parseInt(var_price) - var_price == 0){
                var var_sumprice = var_num * var_price;
                obj_price.closest("tr").find("input[name$='sumprice']").val(var_sumprice);
                //每次单价改变都引起总价改变
                countTotalPrice(obj_tr);
            }
        };

        //增加一个新记录
//        $(document).on("afteradd.bjui.tabledit",function(e){
//            var tr_obj = $(e.target);
//            var obj_num = tr_obj.find("input[name$='num']");
//            var obj_price = tr_obj.find("input[name$='oprice']");
//            var obj_sumprice = tr_obj.find("input[name$='sumprice']");
//            var var_price = obj_price.val();
//            var var_num = obj_num.val();
//            var var_sumprice = var_price * var_num;
//            obj_sumprice.val(var_sumprice);
//        });
        //改变数量
        $(document).on("afterchange.bjui.spinner",function(e){
            console.log("xx");
            countSumPrice($(e.target).closest("tr"));
        });
        //当增加新项目价格时
        $(document).on('afterchange.bjui.lookup', '[name$="oprice"]', function(e) {
            countSumPrice($(e.target).closest("tr"));
        });
        //修改优惠价
        $("input[name='jine']").change(function(){
            var jine_val = $(this).val();
            var summoney_val = $("input[name='summoney']").val();
            if(parseInt(jine_val) == jine_val){
                if(parseInt(jine_val) - summoney_val > 0){
                    $("input[name='jine']").val(summoney_val);
                    $("input[name='profit']").val(summoney_val);
                }
                else{
                    $("input[name='profit']").val(jine_val);
                }
            }
            else{
                alert("请输入整数金额");
            }
        });
    });
</script>