<table class="table table-bordered table-striped table-hover">
    <tbody>
    <tr>
        <td><label for='bianhao_input' class='control-label x85'>订单编号:</label>{$Rs.bianhao}</td>
        <td><label for='status_input' class='control-label x85'>收款状态:</label>
            <if condition="$Rs.status EQ 1 ">
                <span>完成</span>
                <else/>
                <span>待收款</span>
            </if>
        </td>
        <td><label for='opstatus_input' class='control-label x85'>手术状态:</label>
            <if condition="$Rs.opstatus EQ 1 ">
                <span>完成</span>
                <else/>
                <span>待手术</span>
            </if>
        </td>
    </tr>
    <tr>
        <td><label for='summoney_input' class='control-label x85'>订单金额:</label>{$Rs.summoney}</td>
        <td colspan="2"><label for='jine_input' class='control-label x85'>优惠金额:</label>{$Rs.jine}</td>
    </tr>
    <tr>
        <td><label for='yishou_input' class='control-label x85'>已收款:</label>{$Rs.yishou}</td>
        <td><label for='yikai_input' class='control-label x85'>已开票:</label>{$Rs.yikai}</td>
        <td><label for='weishou_input' class='control-label x85'>欠款:</label>{$Rs.weishou}</td>
    </tr>
    <tr>
        <td><label for='cuname_input' class='control-label x85'>客户名称:</label>{$Rs.cuname}</td>
        <td><label for='dianhua_input' class='control-label x85'>联系电话:</label>{$Rs.dianhua}</td>
        <td><label for='juname_input' class='control-label x85'>设计师:</label>{$Rs.juname}</td>
    </tr>
    <tr>
        <td><label for='uname_input' class='control-label x85'>添加人:</label>{$Rs.uname}</td>
        <td><label for='addtime_input' class='control-label x85'>添加时间:</label>{$Rs.addtime|date="Y-m-d H:i:s",###}</td>
        <td><label for='updatetime_input' class='control-label x85'>更新时间:</label>{$Rs.updatetime|date="Y-m-d H:i:s"}</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td colspan=3><label for='beizhu_input' class='control-label x85'>设计方案:</label><textarea name='beizhu'  cols='75' rows='4' readonly>{$Rs.beizhu}</textarea></td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered table-hover table-striped table-condensed" data-toggle="tablefixed" data-width="100%" data-height="100">
    <thead>
    <tr>
        <th>编号</th>
        <th>项目名称</th>
        <th>类型</th>
        <th>数量</th>
        <th>单价</th>
        <th>总价</th>
    </tr>
    </thead>
    <tbody>
    <volist id="v" name="ops_list" key="k">
        <tr data-id="{$v.id}">
            <td>{$k}</td>
            <td>{$v.oname}</td>
            <td>{$v.ocname}</td>
            <td>{$v.num}</td>
            <td>{$v.price}</td>
            <td>{$v.money}</td>
        </tr>
    </volist>
    </tbody>
</table>