<div class="bjui-pageHeader">

        <div class="bjui-searchBar">
			  <span <php>echo display(CONTROLLER_NAME.'/del');</php> style="float:right;" ><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/del',array('navTabId'=>CONTROLLER_NAME))}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要清理吗？" data-icon="remove">清理</a></span>
			  <span <php>echo display(CONTROLLER_NAME.'/outxls');</php> style="float:right;margin-right:20px;"><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/outxls')}" class="btn btn-blue" data-toggle="doexport" data-confirm-msg="确定要导出吗？" data-icon="arrow-up">导出</a></span>
			  <span <php>echo display(CONTROLLER_NAME.'/add');</php> style="float:right;margin-right:20px;"><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add',array('navTabId'=>CONTROLLER_NAME,'cuid'=>I('cuid')))}" class="btn btn-green" data-toggle="dialog" data-width="900" data-height="640" data-id="dialog-mask-view-new" data-mask="true" data-icon="plus" data-on-close="dialogCloseFunForHT">新增</a></span>
		</div>
    
</div>
<div class="bjui-pageContent">
     <table class="table table-bordered table-hover table-striped table-top" data-width="100%" data-layout-h="0" data-nowrap="true">
        <thead>
            <tr>
<th>订单编号</th>
<th>订单金额</th>
<th>成交金额</th>
<th>金额基数</th>
<th>已收款</th>
<th>未收款</th>
<th>已付款</th>
<th>设计师</th>
<th data-order-direction='desc' data-order-field='addtime'>生成时间</th>
<th data-order-direction='desc' data-order-field='status'>订单状态</th>
<th data-order-direction='desc' data-order-field='opstatus'>手术状态</th>
            </tr>
        </thead>
        <tbody>

          <volist id="v" name="list">
          <tr>
<td><a href="{:U(MODULE_NAME.'/hetong/view',array('id'=>$v['id'],'navTabId'=>CONTROLLER_NAME))}" data-toggle="dialog" data-width="900" data-height="600">{$v.bianhao|msubstr=###,0,30}</a></td>
<td>{$v.summoney}</td>
<td>{$v.jine}</td>
<td>{$v.profit}</td>
<td>{$v.yishou}</td>
<td>{$v.weishou}</td>
<td>{$v.fukuan}</td>
<td>{$v.juname}</td>
<td>{$v.addtime|date="Y-m-d H:i",###}</td>
              <td>
                  <if condition="$v.status EQ 1 ">
                      <span>收款完成</span>
                      <else/>
                      <a href="{:U(MODULE_NAME.'/shou/add',array('navTabId'=>'shou','hid'=>$v['id']))}"  data-toggle="dialog" data-width="900" data-height="560" data-id="dialog-mask-view-shou" data-mask="true" data-on-close="dialogCloseFunForHT">去收款</a>
                  </if>
              </td>
              <td>
                  <if condition="$v.opstatus EQ 1 ">
                      <span>手术完成</span>
                      <else/>
                      <a href="{:U(MODULE_NAME.'/opsrecord/add',array('navTabId'=>'opsrecord','hid'=>$v['id']))}"  data-toggle="dialog" data-width="800" data-height="600" data-id="dialog-mask-view-ops" data-mask="true" data-on-close="dialogCloseFunForHT">待手术</a>
                  </if>
              </td>
         </tr> 
          </volist>
        </tbody>
    </table>
</div>