<div class="bjui-pageHeader">
        <div class="bjui-searchBar">
			  <span <php>echo display(CONTROLLER_NAME.'/outxls');</php> style="float:right;margin-right:20px;"><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/outxls')}" class="btn btn-blue" data-toggle="doexport" data-confirm-msg="确定要导出吗？" data-icon="arrow-up">导出</a></span>
			  <span <php>echo display(CONTROLLER_NAME.'/add');</php> style="float:right;margin-right:20px;"><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add',array('navTabId'=>CONTROLLER_NAME,'hid'=>I('hid')))}" class="btn btn-green" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask-view-new" data-mask="true" data-icon="plus" data-on-close="dialogCloseFunForPiao">新增</a></span>
		</div>
</div>
<div class="bjui-pageContent">
     <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
<th>关联订单</th>
<th>开票抬头</th>
<th>开票金额</th>
<th>开票编号</th>
<th>备注</th>
<th>经办人</th>
<th>添加人</th>
<th>添加时间</th>
			<th>详细</th>
		    <th>编辑</th>
            </tr>
        </thead>
        <tbody>

          <volist id="v" name="list">
          <tr>
<td>{$v.jhname|msubstr=###,0,20}</td>
<td>{$v.title|msubstr=###,0,20}</td>
<td>{$v.jine}</td>
<td>{$v.bianhao}</td>
<td>{$v.beizhu|msubstr=###,0,20}</td>
<td>{$v.juname|msubstr=###,0,20}</td>
<td>{$v.uname}</td>
<td>{$v.addtime|date="Y-m-d H:i",###}</td>

		   <td><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/view',array('id'=>$v['id'],'navTabId'=>CONTROLLER_NAME))}"  data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" >详细</a></td>
		   <td <php>echo display(CONTROLLER_NAME.'/edit');</php> > <a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/edit',array('id'=>$v['id'],'navTabId'=>CONTROLLER_NAME))}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask-view-edit" data-mask="true" data-on-close="dialogCloseFunForPiao">编辑</a></td>
		   </td>
         </tr> 
          </volist>
        </tbody>
    </table>
</div>