<div class="bjui-pageContent">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-bordered table-striped table-hover">
           <tbody>
<tr>
    <td><label for='xingming_input' class='control-label x85'>姓名:</label>{$Rs.xingming}</td>
    <td><label for='sex_input' class='control-label x85'>性别:</label>{$Rs.sex}</td>
</tr>
<tr>
    <td><label for='phone_input' class='control-label x85'>手机号码:</label>{$Rs.phone}</td>
    <td><label for='email_input' class='control-label x85'>EMAIL:</label>{$Rs.email}</td>
</tr>
<tr>
    <td><label for='company_input' class='control-label x85'>单位名称:</label>{$Rs.company}</td>
    <td><label for='dept_input' class='control-label x85'>部门职务:</label>{$Rs.dept}</td>
</tr>
<tr>
    <td colspan="2"><label for='addr_input' class='control-label x85'>联系地址:</label>{$Rs.addr}</td>
</tr>
<tr></tr>
<tr><td colspan=2><label for='memo_input' class='control-label x85'>备注:</label><textarea name='memo'  cols='65' rows='5' >{$Rs.memo}</textarea></td></tr>
           </tbody>
          </table>
        </div>
		<div class="bjui-footBar">
        <ul>
            <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        </ul>
    </div>
</div>