
<div class="bjui-pageContent">
    <form action="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/add',array('navTabId'=>CONTROLLER_NAME))}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}"><input type="hidden" name="type" value="{$type}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
            <tr><td>
                <label for="j_title" class="control-label x85">类别名称：</label>
                <input type="text" data-rule="required" size="30" name="title" id="j_title" value="{$Rs['title']}" >
             </td></tr>
            
            <if condition="$id EQ '' ">
			<else/>
            <tr><td>
                <label for="j_status" class="control-label x85">是否启用：</label>
               <select name="status"  data-container="body"  id="j_status" data-toggle="selectpicker" data-rule="required">
			    <if condition="$Rs['status'] EQ 1 "><option value="1" selected>启用</option><else/><option value="0" selected>禁用</option></if>
                <option value="1">启用</option>
                <option value="0">禁用</option>
                 </select>
           </td></tr>
			</if>
              <tr><td>
                <label for="j_sort" class="control-label x85">排序：</label>
                <input type="text"  size="5" data-toggle="spinner" data-min="0" data-max="100" data-step="1" data-rule="integer" name="sort" id="j_sort" value="{$Rs['sort']}" >
            </td></tr>
            <tr>
                <td colspan=2><label for='j_memo' class='control-label x85'>备注:</label><textarea name='memo' id="j_memo"  cols='65' rows='5' >{$Rs.memo}</textarea></td>
            </tr>
            </tbody>
            </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
                <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
            </ul>
        </div>
    </form>
</div>

			
			