<div class="bjui-pageHeader">
        <div class="bjui-searchBar">
			  <span <php>echo display(CONTROLLER_NAME.'/outxls');</php> style="float:right;margin-right:20px;"><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/outxls')}" class="btn btn-blue" data-toggle="doexport" data-confirm-msg="确定要导出吗？" data-icon="arrow-up">导出</a></span>
		</div>
    
</div>
<div class="bjui-pageContent">
     <table class="table table-bordered table-hover table-striped table-top" data-width="100%" data-layout-h="0" data-nowrap="true">
        <thead>
            <tr>
            <th width="10" height="30"></th>
            <th data-order-direction='desc' data-order-field='id'>ID</th>
<th>关联订单</th>
<th>客户</th>
<th>类型</th>
<th>手术医师</th>
<th>经办人</th>
<th data-order-direction='desc' data-order-field='addtime'>日期</th>

			<th>编辑</th>
		    <th <php>echo display(CONTROLLER_NAME.'/edit');</php> >操作</th>
            </tr>
        </thead>
        <tbody>

          <volist id="v" name="list">
          <tr>
		   <td></td>
		   <td>{$v.id}</td>
<td>{$v.jhname|msubstr=###,0,30}</td>
<td>{$v.cuname|msubstr=###,0,20}</td>
<td>{$v.stype|getOPSCusType=###}</td>
<td>{$v.drname|msubstr=###,0,20}</td>
<td>{$v.juname|msubstr=###,0,20}</td>
<td>{$v.addtime|date="Y-m-d H:i",###}</td>

		   <td><a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/edit',array('id'=>$v['id'],'navTabId'=>CONTROLLER_NAME))}"  data-toggle="dialog" data-width="800" data-height="600" data-id="dialog-mask" data-mask="true" >编辑</a></td>
		   <td>
               <a href="{:U(MODULE_NAME.'/'.CONTROLLER_NAME.'/del',array('id'=>$v['id'],'navTabId'=>CONTROLLER_NAME))}" class="btn btn-sm" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删除</a>
		   </td>
         </tr> 
          </volist>
        </tbody>
    </table>
</div>